@import "ef-bio.css";

window {
    all: unset;
    border: none;
    font-family: "Blex Mono Nerd Font";
    font-weight: 600;
    color: @fg;
}

window#waybar {
    background: @bg;
}

#battery.charging {
    color: @accent;
}
#battery.charging:hover {
    color: shade(@accent, 1.1);
}

#battery.warning:not(.charging):hover {
    color: shade(@yellow, 1.1);
}

#battery.critical:not(.charging):hover {
    color: shade(@error_container, 1.1);
}

#battery {
    margin: 0 6px;
    min-width: 16px;
    color: @on_surface;
}

#battery.charging {
    color: @accent;
}

#battery.warning:not(.charging) {
    color: @yellow;
}

#battery.critical:not(.charging) {
    color: @error_container;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
    margin: 0 6px;
    min-width: 16px;
    color: @on_surface;
    transition: all 0.3s ease-in-out;
}

#bluetooth {
    margin: 0 6px;
    min-width: 16px;
    color: @on_surface;
    transition: all 0.3s ease-in-out;
}

#wireplumber {
    margin: 0 6px;
}

#clock {
    padding: 0 12px;
    background: @bg;
}

#workspaces {
    padding: 0px 12px;
    margin: 8px;
    font-size: 1.2rem;
    color: @fg;
}

#workspaces button.active {
    background-color: @accent;
    color: @bg;
}

#workspaces button:hover {
    font-weight: bold;
    background-color: @accent;
}

#workspaces button.urgent {
    font-weight: bold;
    background-color: @accent;
}
